@model PersonAddRequest
@{
    ViewBag.Title = "Create Person";
}

<a asp-controller="Person" asp-action="Index">Back To Persons List</a>
<h2>@ViewBag.Title</h2>
<div style="width: 50%">
    <form asp-controller="Person" asp-action="Create" method="post">
        <div style="display:flex">
            <label for="Name">Person Name:</label>
            <input asp-for="Name" />
        </div>
        <div style="display:flex">
            <label for="Email">Email:</label>
            <input asp-for="Email" />
        </div>
        <div style="display:flex">
            <label for="Dob">Date Of Birth:</label>
            <input asp-for="Dob" />
        </div>
        <div style="display:flex">
            @{
                string[] genders = Enum.GetNames(typeof(GenderOptions));
             }
            @foreach (string gender in genders)
            {
                <label for="@gender">@gender:</label>
                <input type="radio" asp-for="@gender" value="@gender" />
            }
        </div>
        <div style="display:flex">
            <label for="CountryId">Country:</label>
            <select asp-for="CountryId">
                <option value="">Please Select...</option>
                @foreach(CountryResponse countryResponse in ViewBag.Countries)
                    {
                        <option value="@countryResponse.CountryId">@countryResponse.CountryName</option>
                    }
            </select>
        </div>
        <div style="display:flex">
            <label for="Address">Address:</label>
            <textarea asp-for="Address"></textarea>
        </div>
        <div style="display:flex">
            <input type="checkbox" asp-for="RecieveNewsLetters" value="true"/>
            <label for="RecieveNewsLetters">Recieve News Letters:</label>
        </div>
        <button type="submit">Submit</button>

        @if (ViewBag.Errors != null)
        {
            <div>
                <ul>
                    @foreach (var error in ViewBag.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
    </form>
</div>