@model IEnumerable<PersonResponse>

<h1>PersonsList</h1>

<a asp-controller="Person" asp-action="Create">Create Person</a>

<form asp-controller="Person" asp-action="Index" method="Get">
    <label>Search By:</label>
    <select name="searchBy">
        @foreach (var searchField in ViewBag.SearchFields)
        {
            if (searchField.Key == ViewBag.CurrentSearchBy)
            {
                <option value="@searchField.Key" selected="selected">@searchField.Value</option>
            }
            else
            {
                <option value="@searchField.Key">@searchField.Value</option>
            }   
        }
    </select>
    <label>Search:</label>
    <input type="search" id=Search placeholder="search" name="searchStr" value="@ViewBag.CurrentSearchStr" />
    <button type="submit">Search</button>
    @* When the user clicks the submit button the values from named inputs will be collected 
    example: searchBy=Name&searchStr=abc
    *@
    <a href="/person/index">Clear All</a>
    <h2>Persons: @Model.Count()</h2>
    <table style="border: double;">
        @await Html.PartialAsync("_GridColumnHeader")
        <tbody style="border: double;">
            @foreach (PersonResponse person in @Model)
            {
                <tr style="border: double;">
                    <td style="border: double; width: 15%;"><a href="/person/update/@person.Id">@person.Name</a></td>
                    <td style="border: double; width: 20%;"><a href="/person/update">@person.Dob</a></td>
                    <td style="border: double; width: 9%;"><a href="/person/update">@person.Age</a></td>
                    <td style="border: double; width: 30%;"><a href="/person/update">@person.Email</a></td>
                    <td style="border: double; width: 9%;"><a href="/person/update">@person.Gender</a></td>
                    <td style="border: double; width: 10%;"><a href="/person/update">@person.CountryId</a></td>
                    <td style="border: double; width: 20%;"><a href="/person/update">@person.Country</a></td>
                    <td style="border: double; width: 20%"><a href="/person/update">@person.RecieveNewsletters</a></td>
                </tr>
            }
        </tbody>
    </table>
</form>
