@model IEnumerable<PersonResponse>

<h1>PersonsList</h1>

<a href="~/person/create">Create Person</a>

<form action="~/person/index" method="Get">
    <label>Search By:</label>
    <select name="searchBy">
        @foreach (var searchField in ViewBag.SearchFields)
        {
            if (searchField.Key == ViewBag.CurrentSearchBy)
            {
                <option value="@searchField.Key" selected="selected">@searchField.Value</option>
            }
            else
            {
                <option value="@searchField.Key">@searchField.Value</option>
            }   
        }
    </select>
    <label>Search:</label>
    <input type="search" id=Search placeholder="search" name="searchStr" value="@ViewBag.CurrentSearchStr" />
    <button type="submit">Search</button>
    @* When the user clicks the submit button the values from named inputs will be collected 
    example: searchBy=Name&searchStr=abc
    *@
    <a href="/person/index">Clear All</a>
    <h2>Persons: @Model.Count()</h2>
    <table style="border: double;">
        @await Html.PartialAsync("_GridColumnHeader")
        <tbody style="border: double;">
            @foreach (PersonResponse person in @Model)
            {
                <tr style="border: double;">
                    <td style="border: double; width: 15%;">@person.Name</td>
                    <td style="border: double; width: 20%;">@person.Dob</td>
                    <td style="border: double; width: 9%;">@person.Age</td>
                    <td style="border: double; width: 30%;">@person.Email</td>
                    <td style="border: double; width: 9%;">@person.Gender</td>
                    <td style="border: double; width: 10%;">@person.CountryId</td>
                    <td style="border: double; width: 20%;">@person.Country</td>
                    <td style="border: double; width: 20%">@person.RecieveNewsletters</td>
                </tr>
            }
        </tbody>
    </table>
</form>
