@model Person

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.appTitle - @ViewBag.pageName</title>
    @* <title>@ViewData["appTitle"]</title> *@
    <meta name="description" content="Welcome to my homepage!">
    <link rel="stylesheet" href="~/css/styles.css" /> <!-- External CSS file -->
</head>
<body>
    <header>
        <nav>
            <h1>@ViewData["appTitle"]</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>@Model.FirstName @Model.LastName</h1>
        <a href="/home">back</a>
    </main>
    <footer>
        <p>&copy; 2025 My Website. All rights reserved.</p>
    </footer>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>


