@model Stock;
<i class="fa-solid fa-money-bill-trend-up"></i>Stocks
<h5>@Model.StockSymbol</h5>
<h5>@Model.CurrentPrice</h5>
<h5>@Model.LowestPrice</h5>
<h5>@Model.HighestPrice</h5>
<h5>@Model.OpenPrice</h5>
