@model PersonAddRequest
<a asp-controller="Person" asp-action="Index">Back To Persons List</a>
<h2>@ViewBag.Title</h2>
<div style="width: 50%">
    <form asp-controller="Person" asp-action="@ViewBag.Method" method="post">
        <div style="display:flex">
            <label asp-for="Name">Person Name:</label>
            <input asp-for="Name" />
            <span style="color: red;" asp-validation-for="Name"></span>
        </div>
        <div style="display:flex">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" />
            <span style="color: red;" asp-validation-for="Email"></span>
        </div>
        <div style="display:flex">
            <label asp-for="Dob">Date Of Birth:</label>
            <input asp-for="Dob" type="date" />
            <span style="color: red;" asp-validation-for="Dob"></span>
        </div>
        <div style="display:flex">
            @{
                string[] genders = Enum.GetNames(typeof(GenderOptions));
            }
            @foreach (string gender in genders)
            {
                <label>@gender:</label>
                <input type="radio" asp-for="Gender" value="@gender" />
            }
        </div>
        <div style="display:flex">
            <label asp-for="CountryId">Country:</label>
            <select asp-for="CountryId" asp-items="@ViewBag.Countries">
                <option value="">Please Select...</option>
            </select>
            <span style="color: red;" asp-validation-for="CountryId"></span>
        </div>
        <div style="display:flex">
            <label asp-for="Address">Address:</label>
            <textarea asp-for="Address"></textarea>
            <span style="color: red;" asp-validation-for="Address"></span>
        </div>
        <div style="display:flex">
            <input type="checkbox" asp-for="RecieveNewsLetters" />
            <label asp-for="RecieveNewsLetters">Recieve News Letters:</label>
        </div>
        <button type="submit">Submit</button>

        @if (ViewBag.Errors != null)
        {
            <div>
                <ul>
                    @foreach (var error in ViewBag.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
        @* If you prefer to show all together.. can be better for longer forms *@
        <div style="color:red;" asp-validation-summary="All"></div>
    </form>
</div>